@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light dark;
}

:root {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ffffff;
}

@theme {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
